<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="tk.Knaup.prosSensorsSetupWizard.contribution1"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               id="tk.Knaup.prosSensorsSetupWizard.menu1"
               label="VEX"
               path="additions">
            <separator
                  name="vex">
            </separator>
         </menu>
         <action
               class="tk.knaup.prossensorssetupwizard.popup.actions.NewAction"
               enablesFor="1"
               id="tk.Knaup.prosSensorsSetupWizard.newAction"
               label="Configure Sensors"
               menubarPath="tk.Knaup.prosSensorsSetupWizard.menu1/vex">
         </action>
      </objectContribution>
   </extension>
</plugin>
<!--Copyright 2015 Jacob Knaup
 * 
 * 	This file is part of PROS Sensors Setup Wizard.
 * 
 * 	PROS Sensors Setup Wizard is free software: you can redistribute it and/or modify
 * 	it under the terms of the GNU General Public License as published by
 * 	the Free Software Foundation, either version 3 of the License, or
 * 	(at your option) any later version.
 * 
 * 	PROS Sensors Setup Wizard is distributed in the hope that it will be useful,
 * 	but WITHOUT ANY WARRANTY; without even the implied warranty of
 * 	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * 	GNU General Public License for more details.
 * 	You should have received a copy of the GNU General Public License
 * 	along with PROS Sensors Setup Wizard.  If not, see <http://www.gnu.org/licenses/>.
 * 
 *-->